<mat-toolbar class="mat-toolbar" >
    <span> 
        <a routerLink="/">My Messages </a>
    </span>
    <span class="spacer"></span>
    <ul>
        <li>
            <a mat-flat-button routerLink="/create" routerLinkActive="mat-accent" class="p" >New Post</a>
        </li>
        <li>
            <a mat-flat-button routerLink="/login" routerLinkActive="mat-accent" class="p" >Login</a>
        </li>
        <li>
            <a mat-flat-button routerLink="/signup" routerLinkActive="mat-accent" class="p" >Signup</a>
        </li>
    </ul>
</mat-toolbar>