<mat-spinner *ngIf="isLoading" diameter="50" class="spinner-center"></mat-spinner>

<div *ngIf="posts.length > 0 && !isLoading" class="post-container">
  <mat-card *ngFor="let post of posts" class="post-card">

    <mat-card-header>
      <mat-card-title class="post-title">
        <mat-icon class="post-icon" color="primary">article</mat-icon>
        {{ post.title }}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <div class="post-image-container" *ngIf="post.imagePath">
        <img mat-card-image [src]="post.imagePath" [alt]="post.title" class="post-img" />
      </div>
      <p class="post-content">{{ post.content }}</p>
    </mat-card-content>

    <mat-card-actions class="card-actions">

      <button mat-icon-button (click)="onLikePost(post.id)">
        <mat-icon [style.color]="hasUserLiked(post) ? 'red' : undefined">
          {{ hasUserLiked(post) ? 'favorite' : 'favorite_border' }}
        </mat-icon>
      </button>
      <span class="like-count">{{ post.likes }}</span>


      <button mat-icon-button color="accent" (click)="onToggleComments(post)">
        <mat-icon>comment</mat-icon>
      </button>
      <span class="comment-count">{{ post.comments.length }}</span>

      <span class="spacer"></span>


      <ng-container *ngIf="userIsAuthenticated && userId === post.creator">
        <button mat-flat-button color="primary" [routerLink]="['/edit', post.id]">
          <mat-icon>edit</mat-icon>
          Edit
        </button>
        <button mat-flat-button color="warn" (click)="onDelete(post.id)">
          <mat-icon>delete</mat-icon>
          Delete
        </button>
      </ng-container>
    </mat-card-actions>


    <mat-card-content *ngIf="post.showComments">

      <div class="comments-section" *ngIf="post.comments.length > 0">
        <mat-divider></mat-divider>
        <h3 class="comments-title">Comments</h3>
        <mat-list>
          <mat-list-item *ngFor="let comment of post.comments">
            <p>
              <span class="comment-text">
                <strong>{{ comment.creator?.email || 'Unknown User' }}</strong>: {{ comment.content }}
              </span>
              <span class="comment-meta">
                <span class="comment-date" *ngIf="comment.createdAt">
                  ({{ comment.createdAt | date:'medium' }})
                </span>
                <button
                  mat-icon-button
                  color="warn"
                  *ngIf="userIsAuthenticated && userId === comment.creator?._id"
                  (click)="onDeleteComment(post.id, comment._id!)">
                  <mat-icon>delete</mat-icon>
                </button>
              </span>
            </p>
          </mat-list-item>
        </mat-list>
      </div>
      <mat-form-field class="comment-form">
        <textarea
          matInput
          placeholder="Add a comment"
          [formControl]="commentControls[post.id]">
        </textarea>
        <mat-error *ngIf="commentControls[post.id]?.invalid && (commentControls[post.id]?.dirty || commentControls[post.id]?.touched)">
          Please enter a comment.
        </mat-error>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        (click)="onAddComment(post.id)"
        [disabled]="commentControls[post.id].invalid">
        Add Comment
      </button>


      <div class="no-comments-message" *ngIf="post.showComments && post.comments.length === 0">
        <p>No comments yet. Be the first to comment!</p>
      </div>
    </mat-card-content>

  </mat-card>
</div>

<mat-paginator
  *ngIf="posts.length > 0 && !isLoading"
  [length]="totalPosts"
  [pageSize]="postPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)">
</mat-paginator>


<div *ngIf="posts.length <= 0 && !isLoading" class="no-posts-message">
  <mat-icon color="accent" class="no-posts-icon">mail_outline</mat-icon>
  <p>No posts yet. Be the first to share your story!</p>
</div>